<html>
<head>
</head>
<body>
<div class = "container">
<form action="/upload" method="POST" enctype = "multipart/form-data">
	<h1>Welcome back {{username}}</h1>

    <h2>Upload A Photo Here</h2>
    <form method=post enctype=multipart/form-data>
      <input type=file name=file>


	<input type="text" name = "caption" placeholder="write a caption here"/> </br>
	<input type="checkbox" id="shareTo" name="shareTo" value=1>
	<label for="shareTo"> Make visible to all followers </label> <br>
	<input type="submit" class = "btn btn-default" value = Upload> </button>

		</form>
</form>
</div>

<style type= "text/css" >
	table, th, td{
		border: 1px solid black;
	}
</style>

<h2> Your Posts </h2>

<table>
	<th>pID</th>
	<th>Time</th>
	<th>Post</th>
	<th>Poster First Name</th>
	<th>Poster Last Name</th>
	<th>More</th>


{% for line in posts %}
	<tr>
		<td>{{line.pID}}</td>
		<td>{{line.postingDate}}</td>
		<td>{{line.filePath}}</td>
		<td>{{line.firstName}}</td>
		<td>{{line.lastName}}</td>
		<td><form action="/reacts" method="GET" enctype = "multipart/form-data">
  		<button style="background: none!important;
  		border: none;
  		padding: 0!important;
  		/*optional*/
  		font-family: arial, sans-serif;
  		/*input has OS specific font-family*/
  		color: #0000EE;
  		text-decoration: underline;
  		margin:auto;
  		display:block;
  		cursor: pointer;" name="reactPost" value={{line.pID}}>React</button></form>
		</td>

	</tr>

{% endfor %}
</table>

<br>
<form action="/sharePhoto" method="POST" enctype="multipart/form-data">
	<h2>Share a photo to aFriendGroup:</h2>
	<input type="number" name = "idPhoto" placeholder="Photo ID"/>
	<input type="text" name = "gName" placeholder="Friend Group Name"/>
	<input type="'text" name = 'gCreator' placeholder = "Friend Group Creator"/>
	<input type="submit" class = "btn btn-default" value = "sharePhoto"> </button>
</form>
</br>

<br>
<form action = '/inbox' method ="GET" enctype="multipart/form-data">
<h2>View Your Inbox</h2>
<a href="/inbox">View Inbox</a>
</br>
</form>


<br>
<h2>View Someone's Posts</h2>
<a href="/select_user">Select a user</a>
</br>


<br>
<form action="/follow_user" method="POST" enctype = "multipart/form-data">
  <h2>Follow someone:</h2>
  <input type="text" name = "followUser" placeholder="username"/> </br>
  <input type="submit" class = "btn btn-default" value = followUser> </button>
</form>
<br>

<br>
<form action="/unfollow_user" method="POST" enctype = "multipart/form-data">
  <h2>Unfollow someone:</h2>
  <input type="text" name = "unfollowUser" placeholder="username"/> </br>
  <input type="submit" class = "btn btn-default" value = unfollowUser> </button>
</form>
<br>

<br>
<form action="/setTags" method="POST" enctype="multipart/form-data">
	<h2>Tag someone on a photo:</h2>
	<input type="number" name = "idPhoto" placeholder="Photo ID"/>
	<input type="'text" name = 'tagPhoto' placeholder = "Tagged Person Username"/>
	<input type="submit" class = "btn btn-default" value = "tagThisPerson"> </button>
</form>
</br>

<br>
<form action = '/proposedTags' method ="GET" enctype="multipart/form-data">
<h2>View Your Proposed Tags</h2>
<a href="/proposedTags">View Tags</a>
</br>
</form>

<br>
<form action="/search_tag" method="POST" enctype = "multipart/form-data">
  <h2>Search a tagged user:</h2>
  <input type="text" name = "searchTag" placeholder="tagged username"/> </br>
  <input type="submit" class = "btn btn-default" value = searchTag> </button>
</form>
<br>

<br>
<form action="/createFriendGroup" method="POST" enctype="multipart/form-data">
	<h2>Create a FriendGroup:</h2>
	<input type="text" name = "createFG" placeholder="Friend Group Name"/>
	<input type="'text" name = 'descrFG' placeholder = "Write a Description"/>
	<input type="submit" class = "btn btn-default" value = "createFriendGroup"> </button>
</form>
</br>

<br>
<h2>Add a Friend to your FriendGroups</h2>
<a href = "/selectFG"> Select A FriendGroup</a>
</br>

<br>
<h2>Analytics</h2>
<form action = '/analyze' method = "GET" enctype="multipart/form-data">
	<a href="/analyze">Access Analytics</a>
</form>
</br>


<br>
<a href="/logout">Logout</a>
</br>

</body>
</html>
