<html>
<head>
</head>
<body>
<div class = "container">
<form action="/upload" method="POST" enctype = "multipart/form-data">
	<h1>Welcome back {{username}}</h1>

    <h2>Upload new File</h2>
    <form method=post enctype=multipart/form-data>
      <input type=file name=file>


	<input type="text" name = "caption" placeholder="write a caption here"/> </br>
	<input type="checkbox" id="shareTo" name="shareTo" value=1>
	<label for="shareTo"> Make Private </label> <br>
	<input type="submit" class = "btn btn-default" value = Upload> </button>

		</form>
</form>
</div>

<style type= "text/css" >
	table, th, td{
		border: 1px solid black;
	}
</style>

Here are your posts:

<table>
	<th>pID</th>
	<th>Time</th>
	<th>Post</th>

{% for line in posts %}
	<tr>
		<td>{{line.pID}}</td>
		<td>{{line.postingDate}}</td>
		<td>{{line.filePath}}</td>
	</tr>
{% endfor %}
</table>


<br>
<h2>View Your Inbox</h2>
<a href="/inbox">View Inbox</a>
</br>


<br>
<h2>View Someone's Posts</h2>
<a href="/select_user">Select a user</a>
</br>


<br>
<form action="/follow_user" method="POST" enctype = "multipart/form-data">
  <h2>Follow someone:</h2>
  <input type="text" name = "followUser" placeholder="username"/> </br>
  <input type="submit" class = "btn btn-default" value = followUser> </button>
</form>
<br>

<br>
<form action="/createFriendGroup" method="POST" enctype="multipart/form-data">
	<h2>Create a FriendGroup:</h2>
	<input type="text" name = "createFG" placeholder="Friend Group Name"/>
	<input type="'text" name = 'descrFG' placeholder = "Write a Description"/>
	<input type="submit" class = "btn btn-default" value = "createFriendGroup"> </button>
</form>
</br>

<br>
<h2>Add a Friend to your FriendGroups</h2>
<a href = "/selectFG"> Select A FriendGroup</a>
</br>

<br>
<h2>Analytics</h2>
<form action = '/analyze' method = "GET" enctype="multipart/form-data">
	<a href="/analyze">Access Analytics</a>
</form>
</br>


<br>
<a href="/logout">Logout</a>
</br>

</body>
</html>
