<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <h1> Welcome to your list of proposed tags </h1>
</head>
<body>

<h2>Select a photo:</h2>
<form action="/respondToTags" method = "GET">
    {% for line in requests %}
<input type="radio" name="idPhoto" value={{line.pID}}>{{line.pID}}</input>
{% endfor %}

    <h2>Accept or Decline this tag:</h2>
    <label>
        <br>
<input type="radio" name="Accept" value="Accept" id="Accept">
Accept</label>
<br>
<label>
<input type="radio" name="Accept" value="Decline" id="Decline">
Decline</label>
<br>
<input type="submit" value="Submit">

</form>

<br>
<a href="/home">Home</a>
<a href="/logout">Logout</a>
</br>

</body>
</html>