<html>
<head>
</head>
<body>

<h2>Reactions to post {{postID}}:</h2>
<br>

<table>
	<th>Post</th>
	<th>Time</th>
	<th>Emoji</th>
	<th>Comment</th>

{% for line in reactions %}
	<tr>
		<td>{{line.pID}}</td>
		<td>{{ line.reactionTime }}</td>
		<td>{{ line.emoji }}</td>
		<td>{{ line.comment }}</td>

	</tr>
{% endfor %}
</table>

<h3>React:</h3>
<form action="/follow_user" method="POST" enctype = "multipart/form-data">

	<input type="radio" name="reaction" value='thumbs up'>&#128077;</input>
	<input type="radio" name="reaction" value='heart'>&#129505;</input>
	<br>
	<input type="text" name = "comment" placeholder="Comment Here">
	<br>

<input type="submit" value="React">
</form>

<a href="/home">Home</a><br>
<a href="/logout">Logout</a>

</body>


</html>
