<html>
<head>
</head>
<body>

<style type="text/css">
	table, th, td{
		border: 1px solid black;
	}
</style>

Here are posts by {{select_user}}:

<table>
	<th>Time</th>
	<th>Post (pID)</th>

{% for line in posts %}
	<tr>
		<td>{{line.postingDate}}</td>
		<td>{{line.pID}}</td>
	</tr>
{% endfor %}
</table>

<br>
<br>
<a href="/select_user">Select another user</a>
<br>
<br>
<a href="/home">Post a photo</a>
<br>
<br>
<a href="/logout">Logout</a>

</body>


</html>
